#jumbotron {
    background-color: blue;
}

#jumbo-text {
    color: white;
}

.card-header {
    background-color:rgb(21, 35, 53);
}
.card-title {
    color: white;
}

.card-body {
    font-weight: bold;
    background-color: mistyrose;
}

.card-employee-card {
    box-shadow: 5px 5px 5px rgb(14, 5, 3);
}


